$header-bg: #002f2f;
$header-text: #fefefe;

$footer-bg: #046380;
$footer-text: #ffffff;

$control-bg: #ffffff;
$control-text: #046380;

$control-text-error: red;
$control-bg-error: #fff;

$btn-reserved-bg: #a7a37e;
$btn-reserved-text: #ffffff;
$btn-free-bg: #002f2f;
$btn-free-text: #ffffff;
$btn-sales-bg: #a1a1a1;
$btn-sales-text: #ffffff;

$btn-primary-bg: #046380;
$btn-primary-text: #ffffff;
$btn-secondary-bg: #a7a37e;
$btn-secondary-text: #ffffff;

$btn-simple-bg: #ffffff;

$link-text: #046380;

$card-bd-color-reserved: #a7a37e;
$card-bd-color-free: #a7a37e;
$card-bd-color-disabled: #a7a37e;
$card-bg: rgba(#ffffff, .9);
$card-text-price: #313639;
$card-text-state: #046380;
$card-bg-info: #ff4444;
$card-text-info: #ffffff;
$card-favorite: #a7a37e;
$card-favorite-active: #ffdd0b;

$main-bg: rgba(#efecca, .3);
$main-text: #002f2f;
$main-font: "Open Sans", sans-serif;
$main-font-Semibold: "Open Sans - Semibold", sans-serif;

$mob-menu-bg: #002f2f;

$rounded: 50%
