.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid $card-bd-color-reserved;
  background-color: $card-bg;
  border-radius: rem(3);

  @include tablet-and-below {
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
  }

  @include mobile-landscape-and-below {
    flex-direction: column;
    flex-wrap: initial;
  }

  &__desc {
    position: absolute;
    top: rem(17);
    left: rem(20);
    right: rem(17);
    z-index: 1;
    display: flex;
    align-items: center;
    font-size: 0;

    @include laptop-and-below {
      flex-basis: rem(150);
    }
  }

  &__content {
    padding: rem(32, 30, 24, 32);
    flex: 1;

    @include laptop-mini-and-below {
      padding: rem(22, 20, 20, 22);
    }

    @include tablet-and-below {
      flex-basis: 60%;
      max-width: 60%;
    }

    @include mobile-landscape-and-below {
      flex-basis: auto;
      max-width: none;
    }
  }

  &__info {
    display: inline-flex;
    padding: rem(0, 3);
    margin-right: rem(5);
    color: $card-text-info;
    background-color: $card-bg-info;
    justify-self: flex-start;
    border-radius: rem(3);
    font-size: rem(12);
    font-family: $main-font-Semibold;
    line-height: rem(18);
  }

  &__favorite {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;

    svg {
      use {
        fill: $card-favorite;
        transition: fill .15s ease-in-out;
      }
    }

    &:hover {
      svg {
        use {
          fill: rgba($card-favorite, .9);
        }
      }
    }

    &:active {
      svg {
        use {
          fill: rgba($card-favorite, .8);
        }
      }
    }

    &.js-active {
      svg {
        use {
          fill: $card-favorite-active;
        }
      }

      &:hover {
        svg {
          use {
            fill: rgba($card-favorite-active, .9);
          }
        }
      }

      &:active {
        svg {
          use {
            fill: rgba($card-favorite-active, .8);
          }
        }
      }
    }
  }

  &__media {
    display: block;
    width: 100%;
    position: relative;
    padding-top: 78.305%;

    @include desktop-and-below {
      height: rem(115);
    }

    @include tablet-and-below {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-basis: 40%;
      max-width: 40%;
      height: auto;
      padding: rem(20);
    }

    @include mobile-landscape-and-below {
      flex-basis: auto;
      max-width: none;
      height: rem(150);
      padding-top: rem(40);
    }

    img {
      margin-top: rem(15);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      object-fit: cover;

      @include tablet-and-below {
        position: static;
        left: auto;
        top: auto;
        transform: none;
        margin-top: 0;
      }
    }
  }

  &__named {
    min-height: rem(60);
    margin-left: rem(20);
    margin-bottom: rem(18);
    color: $main-text;
    font-size: rem(24);
    font-weight: 700;
    line-height: 1.2;

    @include laptop-mini-and-below {
      margin-left: 0;
    }
    
    @include tablet-and-below {
      min-height: auto;
    }
  }

  &__definition {
    margin-left: rem(20);
    margin-bottom: rem(39);

    @include laptop-mini-and-below {
      margin-left: 0;
    }

    @include tablet-and-below {
      align-items: center;
    }

    @include mobile-landscape-and-below {
      margin-bottom: rem(20);
    }
  }

  &__price {
    margin-left: rem(20);
    color: $card-text-price;
    font-family: $main-font-Semibold;
    font-size: rem(24);
    line-height: 1;
    letter-spacing: .0125em;

    @include laptop-mini-and-below {
      margin-left: 0;
    }
  }

  &__btn {
    flex-shrink: 0;
    height: rem(36);
    font-size: rem(12);
    line-height: 1;
    letter-spacing: rem(.72);
    border-radius: rem(0, 0, 3, 3);

    @include tablet-and-below {
      flex-basis: 100%;
    }

    @include mobile-landscape-and-below {
      flex-basis: initial;
    }
  }

}
