.definition {
  position: relative;
  display: flex;
  font-size: rem(16);
  line-height: 1.15;

  & > * {
    flex: 1 0 33.333%;
    max-width: 33.333%;
    word-wrap: break-word;

    &:nth-child(1) {
      padding-left: rem(11);
    }
    &:nth-child(2) {
      padding-left: rem(16);
    }
    &:nth-child(3) {
      padding-left: rem(9);
    }
  }

  &::before {
    position: absolute;
    content: '';
    top: rem(2);
    bottom: rem(2);
    left: 0;
    width: rem(3);
    border-radius: rem(2);
    background-color: $card-text-state;
  }

  &__state {
    color: $card-text-state;

    @include mobile-landscape-and-below {
      font-size: rem(14);
    }
  }

  &__unit {
    margin-left: rem(2);
  }

  &__num {
    font-size: rem(18);

    @include mobile-landscape-and-below {
      font-size: rem(16);
    }
  }
}
