.form {
	
	&__group {
		& + & {
			margin-top: rem(18);
		}
	}
	
	&__col {
		&:not(:last-child) {
			margin-right: rem(54);
			
			@include desktop-and-below {
				margin-right: rem(20);
			}

			@include tablet-and-below {
				margin-right: 0;
			}
		}
	}
	
	&__control {
		display: block;
		width: 100%;
		height: rem(47);
		padding: rem(0, 19);
		border-radius: rem(2);
		font-size: rem(18);
		line-height: 1;
		background-color: $control-bg;
		color: $control-text;
		border: 1px solid transparent;
		transition:
				color .15s ease-in-out,
				border .15s ease-in-out,
				background-color .15s ease-in-out;
		
		@include desktop-and-below {
			height: rem(32);
			padding: rem(0, 15);
			font-size: rem(14);
		}
		
		&::placeholder {
			color: rgba($control-text, .75);
			transition:
					opacity .2s ease-in-out,
					text-indent .3s ease-in-out;
		}
		
		&:focus {
			&::placeholder {
				opacity: 0;
				text-indent: rem(500);
				transition:
						opacity .2s ease-in-out,
						text-indent .3s ease-in-out;
			}
		}
		
		&.js-invalid {
			color: $control-text-error;
			border-color: $control-text-error;
			background-color: $control-bg-error;
		}
	}
}
