.mob-drop-down-menu {
  display: none;
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: $mob-menu-bg;
  flex-direction: column;
  padding: rem(40, 0);
  visibility: hidden;
  opacity: 0;
  transition:
      top .15s ease-in-out,
      opacity .1s ease-in-out,
      visibility .1s ease-in-out;
  
  .js-open-menu & {
    top: 0;
    opacity: 1;
    visibility: visible;
  }
  
  @include tablet-and-below {
    display: flex;
  }

  .nav {
    display: flex;
    flex-direction: column;
    text-align: center;

    &__link {
      display: block;
      padding: rem(10, 0);
      margin-right: 0;
      transition: opacity .15s ease-in-out;
      
      &::after {
        display: none;
      }
      
      &:hover {
        opacity: .9;
      }
    }
  }

  .phone {
    margin-top: rem(20);
    padding-top: rem(20);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      max-width: 80%;
      width: 100%;
      z-index: 1;
      background-color: rgba(255, 255, 255, .3);
    }
  }
  
  .btn-close {
    position: absolute;
    top: rem(20);
    right: rem(20);
    z-index: 1;
    cursor: pointer;
    transition: opacity .15s ease-in-out;
    
    &:hover {
      opacity: .9;
    }
    
    &:active {
      opacity: .8;
    }
    
    svg {
      use {
        fill: #fff;
      }
    }
  }
}
