.sort {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .cards & {
    margin-bottom: rem(47);

    @include tablet-and-below {
      margin-bottom: rem(20);
    }
  }

  &__text {
    font-size: rem(14);
    line-height: 1.2;
    color: rgba($main-text, .7);
    margin-right: rem(10);
  }

  &__btn {
    position: relative;
    margin-right: rem(30);
    font-size: rem(14);
    line-height: 1.2;
    color: $main-text;
    letter-spacing: rem(.5);
    cursor: pointer;
    transition: border-bottom .15s ease-in-out,
    color .15s ease-in-out;

    &.js-active {
      border-bottom-color: transparent;
      color: rgba($main-text, .7);

      &::after {
        transform: translate(0, -50%) rotate(180deg);
      }
    }

    &::before {
      position: absolute;
      content: '';
      top: calc(100% + 3px);
      left: 0;
      right: 0;
      border-bottom: 1px dotted $main-text;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: calc(100% + 10px);
      transform: translate(0, -50%);
      content: '';
      display: inline-flex;
      width: rem(18);
      height: rem(18);
      border-radius: $rounded;
      background: rgba(#046380, .04) url("../../img/sort-down.svg") no-repeat 50% 50% / rem(8, 8);
      z-index: 1;
      transition: trasform .15s ease-in-out;
    }

    &:last-of-type {
      margin-left: rem(13);
    }
  }
}
