.footer {
  padding: rem(50, 0, 41);
  background-color: $footer-bg;
  border-radius: rem(3, 3, 0, 0);
  
  @include desktop-and-below {
    padding: rem(56, 0, 50);
  }

  @include tablet-portrait-and-below {
    text-align: center;
  }
  
  &__container {
    display: flex;
    justify-content: space-between;
    max-width: rem(1280);
    margin: 0 auto;
    padding: rem(0, 53);

    @include tablet-portrait-and-below {
      flex-direction: column;
      padding: rem(0, 15);
    }
  }
  
  &__info {
    flex: 1 0 45.5%;

    @include tablet-portrait-and-below {
      flex: initial;
    }
  }
  
  &__form {
    display: flex;
    flex: 2 1 54.5%;
    padding-top: rem(13);

    @include desktop-and-below {
      flex-wrap: wrap;
    }

    @include tablet-portrait-and-below {
      flex-direction: column;
      flex: initial;
    }
    
    .form {
      &__group {
        .checkbox {
          margin-bottom: rem(10);
        }
      }
      
      &__control {
        width: rem(319);

        @include tablet-portrait-and-below {
          width: 100%;
          max-width: rem(319);
          margin: 0 auto;
        }
      }
    }
  }

  .btn {
    width: rem(214);
    letter-spacing: rem(.96);
  }
}

.info {
  color: $footer-text;
  
  &__important {
    margin-bottom: rem(11);
    font-size: rem(34);
    font-family: $main-font-Semibold;
    font-weight: 400;
    letter-spacing: .066em;
    line-height: 1;
  
    @include desktop-and-below {
      font-size: rem(24);
    }
  }

  &__text {
    font-size: rem(18);
  
    @include desktop-and-below {
      font-size: rem(14);
    }
  }
}
