.header {
	background-color: $header-bg;
	padding: rem(22, 0, 19);
	
	@include desktop-and-below {
		padding: rem(9, 0);
	}
	
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: rem(1683);
		width: 100%;
		margin: 0 auto;
		padding: rem(0, 15);
	}

	&__float {
		max-width: rem(1195);
		display: flex;
		align-items: center;
		flex-grow: 1;
		justify-content: space-between;
	}
	
	&__nav {
		font-size: 0;
		padding: rem(0, 10);

		@include desktop-and-below {
			flex: 1;
			text-align: center;
		}
		
		@include tablet-and-below {
			display: none;
		}
	}
	
	&__logo {
		flex-shrink: 0;
	}
	
	.logo {
		display: block;
		width: rem(34);
		height: rem(85);
		
		@include desktop-and-below {
			width: rem(17);
			height: rem(42.5);
		}
	}
	
	&__phone {
		position: relative;
		top: rem(4);
		
		@include tablet-and-below {
			display: none;
		}
	}
}

.nav {
	
	&__link {
		position: relative;
		font-size: rem(24);
		line-height: 1;
		color: $header-text;
		
		@include desktop-and-below {
			font-size: rem(16);
		}
		
		&:not(:last-child) {
			margin-right: rem(47);
			
			@include desktop-and-below {
				margin-right: rem(15);
			}
		}
		
		&::after {
			position: absolute;
			content: '';
			top: 100%;
			left: 50%;
			right: 50%;
			height: rem(1);
			z-index: 1;
			background-color: $header-text;
			transition: left .15s ease-in-out, right .15s ease-in-out;
		}
		
		&:hover {
			&::after {
				right: 0;
				left: 0;
			}
		}
	}
}

.phone {
	&__number {
		font-size: rem(32);
		line-height: 1;
		color: $header-text;
		text-transform: uppercase;
		white-space: nowrap;
		
		@include desktop-and-below {
			font-size: rem(24);
		}
	}
	
	&__text {
		font-size: rem(20);
		line-height: 1.75;
		color: $header-text;
		
		@include desktop-and-below {
			font-size: rem(14);
		}
	}
}
