.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: rem(47);
	padding: rem(0, 15);
	border-radius: rem(2);
	font-size: rem(16);
	line-height: 1;
	text-transform: uppercase;
	cursor: pointer;
	backface-visibility: hidden;
	transition: opacity .15s ease-in-out;
	
	&:hover:not(:disabled) {
		opacity: .85;
	}
	
	@include desktop-and-below {
		height: rem(32);
		font-size: rem(14);
	}
	
	&-block {
		width: 100%;
	}
	
	&-secondary {
		background-color: $btn-secondary-bg;
		color: $btn-secondary-text;
	}
	
	&-primary {
		background-color: $btn-primary-bg;
		color: $btn-primary-text;
	}
	
	&[data-status*=reserved] {
		background-color: $btn-reserved-bg;
		color: $btn-reserved-text;
	}
	
	&[data-status*=free] {
		background-color: $btn-free-bg;
		color: $btn-free-text;
	}
	
	&[data-status*=sales] {
		background-color: $btn-sales-bg;
		color: $btn-sales-text;
	}
	
	&:disabled {
		cursor: not-allowed;
	}
}
