.checkbox {
	font-size: 0;
	
	&__control {
		display: none;
		
		&:checked {
			& + .checkbox__label {
				&::after {
					opacity: 1;
					top: rem(5);
				}
			}
		}
	}
	
	&__label {
		padding-left: rem(28);
		min-height: rem(18);
		position: relative;
		display: inline-block;
		font-size: rem(18);
		line-height: rem(18);
		color: $control-bg;
		cursor: pointer;
		user-select: none;
		
		@include desktop-and-below {
			font-size: rem(14);
		}
		
		&::before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			z-index: 1;
			width: rem(18);
			height: rem(18);
			border-radius: rem(2);
			background-color: $control-bg;
			color: $control-text;
			cursor: pointer;
		}
		
		&::after {
			position: absolute;
			top: rem(4);
			left: rem(4);
			width: rem(10);
			height: rem(10);
			content: '';
			background: url("../../../img/check-mark.svg") no-repeat 0 0 / 100% 100%;
			z-index: 2;
			opacity: 0;
			transition:
					opacity .15s ease-in-out,
					top .15s ease-in-out;
		}
	}
}
