<div class="cards">

		<div class="wrapper">

			<div class="sort">
				<span class="sort__text">Сортировать по:</span>
				<button type="button" class="sort__btn" data-sort-price>Цене</button>
				<button type="button" class="sort__btn" data-sort-flat>Комнатам</button>
			</div>
			<!-- /.sort -->

			<div class="cards__container">

				<div class="card-grid" id="suggestions">
					<!-- here is inserted template -->
				</div>
				<!-- /.card-grid -->

				<button type="button" class="btn btn-primary btn-more" data-more>Показать еще <span></span></button>

			</div>
			<!-- /.cards__outer -->

		</div>
		<!-- /.wrapper -->

</div>
<!-- /.cards -->
