<footer class="footer">

  <div class="footer__container">

    <div class="footer__info info">
      <h3 class="info__important">Успей купить!</h3>
      <p class="info__text">Подпишись и успей словить все акции</p>
    </div>
    <!-- /.info -->

    <form class="footer__form form" data-formWithValidation novalidate>

      <div class="form__col">
        <div class="form__group">
          <input type="email" class="form__control js-field" placeholder="E-mail" data-email>
        </div>

        <div class="form__group">

          <div class="checkbox">
            <input type="checkbox" id="inputSignUp" class="checkbox__control" data-check>
            <label for="inputSignUp" class="checkbox__label">подписаться на новости</label>
          </div>
          <!-- /.checkbox -->

        </div>
      </div>

      <div class="form__col">
        <button type="submit" class="btn btn-secondary" data-validateBtn>Подписаться</button>
      </div>

    </form>
    <!-- /.form -->

  </div>
  <!-- /.footer__container -->

</footer>
<!-- /.footer -->
