<div class="mob-drop-down-menu" data-mob-menu>
  <button type="button" class="btn-close" data-mob-menu-close>
    <svg width="18" height="18">
      <use xlink:href="#close"></use>
    </svg>
  </button>
  <nav class="nav">
    <a href="#object" class="nav__link">Объекты</a>
    <a href="#company" class="nav__link">Компания</a>
    <a href="#buy" class="nav__link">Как купить</a>
    <a href="#agents" class="nav__link">Агентам</a>
    <a href="#regions" class="nav__link">Регионам</a>
    <a href="#stock" class="nav__link">Акции</a>
    <a href="#contacts" class="nav__link">Контакты</a>
  </nav>
  <!-- /.nav -->

  <div class="phone">
    <a href="tel:+8888888898" class="phone__number">8 888 88 88 98</a>
    <p class="phone__text">Звони скорее!</p>
  </div>
  <!-- /.phone -->
</div>
<!-- /.mob-drop-down-menu -->

<header class="header">
  
  <div class="header__container">

    <div class="header__float">
      <a href="" class="header__logo">
        <img src="../img/logo.svg" alt="" class="logo">
      </a>
      <!-- /.logo -->

      <nav class="header__nav nav">
        <a href="#object" class="nav__link">Объекты</a>
        <a href="#company" class="nav__link">Компания</a>
        <a href="#buy" class="nav__link">Как купить</a>
        <a href="#agents" class="nav__link">Агентам</a>
        <a href="#regions" class="nav__link">Регионам</a>
        <a href="#stock" class="nav__link">Акции</a>
        <a href="#contacts" class="nav__link">Контакты</a>
      </nav>
      <!-- /.nav -->

    </div>
    <!-- /.hearer__float -->
  
    <div class="header__phone phone">
      <a href="tel:+8888888898" class="phone__number">8 888 88 88 98</a>
      <p class="phone__text">Звони скорее!</p>
    </div>
    <!-- /.phone -->

	  <button type="button" class="btn-switch" data-mob-menu-open>
		  <span></span>
		  <span></span>
		  <span></span>
	  </button>
	  <!-- /.btn-switch -->
  
  </div>
  <!-- /.header__container -->

</header>
<!-- /.header -->
