body {
  font-size: rem(14);
  line-height: 1.4;
  font-family: $main-font;
  font-weight: 400;
  background-color: $main-bg;
}

h1 {
  color: $main-text;
  font-size: rem(48);
  font-weight: 700;
  margin: 0;

  @include desktop-and-below {
    font-size: rem(36);
  }
}

.main-content {
  @include tablet-and-below {
    padding: rem(0, 15);
  }
}

.wrapper {
  max-width: rem(1280);
  margin: 0 auto;
  padding: rem(0, 107);

  @include laptop-and-below {
    padding: rem(0, 50);
    max-width: rem(1180);
  }

  @include laptop-mini-and-below {
    max-width: rem(960);
  }

  @include tablet-portrait-and-below {
    padding: rem(0, 15);
  }

  .cards & {
    padding: rem(29, 107, 74);
    background-color: #fff;

    @include laptop-and-below {
      padding: rem(20, 50, 50);
    }

    @include tablet-portrait-and-below {
      padding: rem(15, 15, 30);
    }
  }
}

.result-search {
  padding: rem(55, 0, 58);

  @include desktop-and-below {
    padding: rem(20, 0, 23);
  }
}

.cards {
  margin-bottom: rem(71);
  
  @include tablet-and-below {
    margin-bottom: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  margin: rem(0, -26.5, 60);

  @include laptop-mini-and-below {
    margin: rem(0, -7.5, 40);
  }

  @include tablet-and-below {
    display: block;
    margin: 0;
  }


  &__cell {
    box-sizing: content-box;
    flex-basis: rem(320);
    max-width: rem(320);
    padding: rem(0, 26.5, 53, 26.5);

    @include laptop-mini-and-below {
      box-sizing: border-box;
      flex-basis: 33.333%;
      max-width: 33.333%;
      padding: rem(0, 7.5, 15);
    }

    @include tablet-and-below {
      box-sizing: border-box;
      max-width: none;
      padding: rem(0, 0, 20);
    }
  }
}

.btn-more {
  display: block;
  margin: 0 auto;
  max-width: rem(533);
  width: 100%;
  height: rem(72);
  font-size: rem(14);
  font-family: $main-font-Semibold;
  letter-spacing: rem(1.12);

  @include desktop-and-below {
    max-width: rem(400);
    height: rem(40);
  }
}

.scroll-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(80);
  height: rem(80);
  position: fixed;
  right: 5%;
  bottom: 10%;
  z-index: 9999;
  background-color: $btn-secondary-bg;
  border-radius: $rounded;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: background-color .15s ease-in-out;

  @include desktop-and-below {
    width: rem(40);
    height: rem(40);
    right: rem(20);
    bottom: rem(40);
  }

  &:hover {
    background-color: rgba($btn-secondary-bg, .9);
  }

  &:active {
    background-color: rgba($btn-secondary-bg, .8);
  }

  svg {
    @include desktop-and-below {
      width: rem(24);
      height: auto;
      position: relative;
      top: rem(-1);
    }

    use {
      fill: $btn-secondary-text;
    }
  }

  &.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
  }
}

.js-error {
  color: red;
  margin-top: rem(5);
  font-size: rem(12);
  line-height: 1;
  font-weight: 700;
}

.btn-switch {
  display: none;
  width: rem(40);
  cursor: pointer;
  
  @include tablet-and-below {
    display: block;
  }
  
  span {
    display: block;
    height: rem(4);
    background-color: $btn-simple-bg;
    border-radius: rem(2);
    
    &:not(:first-child) {
      margin-top: rem(7);
    }
  }
}
